.choise {
	padding: 2rem 0 5rem;
	@media (min-width: $md4) {
		padding: 2rem 0 10rem;
	}
	// .choise__title
	&__title {
		text-align: center;
	}
	// .choise__body
	&__body {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: 4rem;
		}
		@media (min-width: $md2) {
			justify-content: space-between;
			flex-direction: row;
		}
		padding: 0 2rem;
		gap: 2rem;
	}
	// .choise__main
	&__main {
		@media (min-width: $md4) {
			flex: 0 0 32rem;
			padding: 6rem 3.5rem 8rem;
			border-radius: 2.6875rem;
			background: #fdfdfd;
			box-shadow: 0 rem(4) rem(17) rem(3) rgba(0, 0, 0, 0.19);
		}
		@media (min-width: $md1) {
			padding: 8rem 5.12rem 13.25rem;
			flex: 0 0 42.125rem;
		}
	}
	// .choise__caption
	&__caption {
		display: none;
		@media (min-width: $md4) {
			color: #000;
			text-align: center;
			font-size: 2rem;
			font-weight: 600;
			display: block;
		}
	}
	// .choise__btns
	&__btns {
		@media (min-width: $md4) {
			margin-top: 5.5rem;
		}
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
	// .choise__btn
	&__btn {
		@media (min-width: $md4) {
			min-width: 10rem;
			padding-inline: em(1, 1.625);
			font-size: 1.5rem;
			min-height: 22rem;
			line-height: 1;
			border-radius: 3.6875rem;
			padding-bottom: 5rem;
			border-width: rem(5) !important;
		}
		@media (min-width: $md0) {
			min-height: 23.6875rem;
			font-size: 1.625rem;
			padding-inline: em(2, 1.625);
			min-width: 14.10044rem;
		}
	}
	// .choise__picture
	&__picture {
	}
}
