<li class="course" id="@@id">
    <a href="/course-page.html" class="course__logo">
        <img src="@@logo" alt="logotype">
    </a>
    <div class="course__body">
        <h3 class="course__name"><a href="/course-page.html">@@name</a></h3>
        <p class="course__desc">@@desc</p>
        <div class="course__actions">
            <button class="course__action">
                <span class="course__action-icon">
                    <img src="@img/icons/monitor.svg" alt="icon">
                </span>
                Live Demo
            </button>
            <button class="course__action">
                <span class="course__action-icon">
                    <img src="@img/icons/clip.svg" alt="icon">
                </span>
                Enroll Now
            </button>
        </div>
        <a href="/course-page.html" class="course__btn btn btn-primary">
            <span class="course__btn-icon">
                <img src="@img/icons/download-white.svg" alt="icon">
            </span>
            Download Curriculam
        </a>
    </div>
</li>