// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Poppins";
$font-inter: "Inter";
// Шрифт по умолчанию

$md-xxl: 1759.98px;
$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 375; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1700); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$white: #fff;
$bg-color: #edfcfd;
$text: #003f7d;
$grey: #666a71;

$accent: #f98149;
$blue: #106fae;
$red: #ce0000;

$header: var(--header-height, #{rem(262)});

:root {
	--header-height: #{rem(155)};
	@media (min-width: $md5) {
		--header-height: #{rem(187)};
	}
	@media (min-width: $md4) {
		--header-height: #{rem(150)};
	}
	@media (min-width: $md3) {
		--header-height: #{rem(175)};
	}
	@media (min-width: $md2) {
		--header-height: #{rem(156)};
	}
	@media (min-width: $md1) {
		--header-height: #{rem(175)};
	}
	@media (min-width: $md0) {
		--header-height: #{rem(230)};
	}
	@media (min-width: $md-xxl) {
		--header-height: #{rem(262)};
	}
}

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/login";
@import "pages/home";
@import "pages/choise";
@import "pages/courses";
@import "pages/faq";
@import "pages/contacts";
@import "pages/price";
